= form_for @movie do |f|
  - if movie.errors.any?
    .movie-form__errors
      %h2
      = "#{movie.errors.full_messages.count}件のエラーがあります"
      %ul
        - movie.errors.full_messages.each do |error|
          %li
            = error
  .movie-form
    .movie-form__field
      = f.label :name, 'name', class: '.movie-form__field__movie-label'
      = f.text_area :name, placeholder: '動画名を入力して下さい ※10文字以内', class: 'movie-form__field__movie-name', maxlength: '10'
    .movie-form__user
      %label.movie-form__user__label add member
      %textarea.movie-form__user__input{type: 'text', placeholder: 'メンバーを検索して下さい'}
    .movie-form__result

    .movie-form__member
      %label.movie-form__member__name-label メンバー:
      .movie-form__member__list
        .movie-form__member__list__lists
          %input{name: 'movie[user_ids][]', value: current_user.id, type: 'hidden'}
          %p
            = current_user.nickname
          .self-btn あなた

        - movie.users.each do |user|
          - if current_user.nickname != user.nickname
            .movie-form__member__list__lists
              %input{name: 'movie[user_ids][]', value: user.id, type: 'hidden'}
              %p.member
                = user.nickname
              .remove-btn 削除
    .movie-form__submit 決定

    .movie-form__modal
      .movie-form__modal__box
        .movie-form__modal__movie
        .movie-form__modal__user
        %p
          = current_user.nickname 
        .movie-form__modal__icon
          = icon('fa', 'calendar-times')
      .movie-form__modal__member
      .movie-form__modal__question
        %p Are You Sure?
      .movie-form__modal__btn
        = f.submit '保存', class: 'movie-form__submit'

