.side-bar
  .side-bar__movies
    = link_to new_movie_path class: 'btn' do
      %span
        movie作成
  .side-bar__main
    - @movies.each do |movie|
      .side-bar__main__image
        .side-bar__main__image__movie         
          = link_to movie_tweets_path(movie.id) do
            %span
            = "#{movie.name}(コメント)"     
        .side-bar__main__image__movie--edit         
          = link_to edit_movie_path(movie.id) do
            %span
            = "#{movie.name}(編集)"
        .side-bar__main__image__movie--tweet{data: {movie: {id: movie.id}}}
          - if movie.show_last_tweet.class == String
            = movie.show_last_tweet
          - else
            = image_tag  movie.show_last_tweet             
          

    
