.wrapper
  = render partial: 'header'
  .container
    .container__main-tweet
      .container__main-tweet__contents
        .container__main-tweet__contents__content
          .container__main-tweet__contents__content__text
            %span
              もう4月だよ！
          .container__main-tweet__contents__content__right-box
            .container__main-tweet__contents__content__right-box__name
              %span
                kuro
            .container__main-tweet__contents__content__right-box__date
              %span
                2020/4/4 12:00
    .container__form
      = form_for [@movie, @tweet] do |f|
        .container__form__message        
          = f.text_field :content, class: 'container__form__message__comment', placeholder: "Type a comment"
          .container__form__message__right-box
          = f.label :image, class: 'container__form__message__right-box__label' do
            = icon('fa', 'camera-retro', class: "container__form__message__right-box__label__camera")
            = f.file_field :image, class: 'filecontainer__form__message__right-box__label__file', style: 'display: none;'
        .container__form__submit
          = f.submit '投稿する', class: 'container__form__submit__btn'
          .container__form__submit__btn__icon
            = icon('fa', 'comments', class: 'container__form__submit__btn__icon__shape')
          

    .container__footer
      .container__footer__logo
        %p
          HomeWork App 2020
  = render partial: 'side_bar'
 